*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

.football{
    font-size:120px;
    animation: moveBall 2s linear infinite;
    
}

@keyframes moveBall{
    /* from{
        transform: translateX(0) rotate(0deg);
        
    }
    to{
        transform: translateX(1000px) rotate(360deg);
        animation: 1s;
        filter: grayscale(100%) ;
    } */
    25%{
        transform: translateX(0) rotate();
    }
    50%{
        transform: translateX(1000px) rotate(360deg);
        animation: 3s;
        filter: grayscale(100%) ;
    }
    75%{
        transform: translateX(1000px) rotate(360deg);
        animation: 3s;
        filter: grayscale(100%) ;
    }
    100%{
        filter: blur(10px);
    }
}